<div class="container">
    <div class="banner" style="background-color: black;">
        <img src="{{img.banner}}" style="width: 100%;  height:20em ; object-fit: unset; ">
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="{{img.logo}}" style="width: 3em; height: 3em; border-radius:50% ;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link " routerLink="/assignment" routerLinkActive="active">Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="/aboutasm" routerLinkActive="active">Giới Thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contactasm" routerLinkActive="active"> Liên Hệ - Góp ý </a>
                </li>
                <!-- 
                <li class="nav-item">
                    <a class="nav-link" routerLink="/hoidap" routerLinkActive="active"> Hỏi Đáp</a>
                </li> -->

            </ul>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Tài Khoản
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/login" routerLinkActive="active"> Đăng Nhập </a>
                    <a class="dropdown-item" routerLink="/dangki" routerLinkActive="active">Đăng Kí</a>
                    <a class="dropdown-item" href="#"> Quên Mật Khẩu </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"> Đăng Xuất </a>
                    <a class="dropdown-item" href="#"> Đổi Mật Khẩu</a>
                    <a class="dropdown-item" href="#"> Cập Nhật Tài Khoản</a>
                </div>
            </div>

        </div>

    </nav>
    <div class="container">
        <br>
        <div class="row">
            <div class="">
                <div class="col-md-6" style="float: left"
                    *ngFor="let item of lists | paginate: { itemsPerPage: 4, currentPage: p }">
                    <div class="card" [routerLink]="['/danhmucmon', item.Id]" routerLinkActive="router-link-active">
                        <img src="../../assets/images/{{item.Logo}}" class="card-img-top" alt="...">
                        <div class="card-body">
                        </div>
                        <ul class="list-group list-group-flush">
                            <button type="button" class="btn btn-secondary" onclick="ttt()">{{item.Name}}
                            </button>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class=" text-center mt-4">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
        <!-- end col-md-8 -->


        <!-- end col-md-4 -->

        <br>


    </div>
    <footer class="w3-container w3-padding-32 w3-light-grey w3-center">


        <div class="w3-xlarge w3-section">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div>
        <span>Create By : <b>Suot00</b></span>
    </footer>