<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>

<body>


    <header>
        <nav class="navbar navbar-expand-lg " style="padding-left: 10em;padding-right: 10em;">
            <a class="navbar-brand" href="index.html" style="padding-right: 4em;padding-left: 4em;"><img
                    src="{{img.logo}}" style="border-radius: 50%; height: 50px;width: 50px;"> Learn
                Course</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav menu ">
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Services</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="#team">Teachers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#subscribe">Subscribe</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tài Khoản
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" routerLink="/dangnhap" routerLinkActive="active"> Đăng Nhập </a>
                            <a class="dropdown-item" routerLink="/dangki" routerLinkActive="active">Đăng Kí</a>
                            <a class="dropdown-item" href="#"> Quên Mật Khẩu </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"> Đăng Xuất </a>
                            <a class="dropdown-item" href="#"> Đổi Mật Khẩu</a>
                            <a class="dropdown-item" href="#"> Cập Nhật Tài Khoản</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    <div class="banner" id="home" style="background-image: url('assets/images/banner.jpg');">
        <div class="layer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" style="margin-top:25em ; margin-bottom: 15em;">
                                <div class="carousel-item active">
                                    <div class="slide">
                                        <h2>Education Courses.</h2>
                                        <h4>Study For Better Future</h4>
                                        <p>onec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac
                                            metus semper Nullam dui mi.
                                            Vestibulum ante. Morbi at dui nisl.</p>

                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="slide">
                                        <h2>Education Courses.</h2>
                                        <h4>Study For Better Future</h4>
                                        <p>onec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac
                                            metus semper Nullam dui mi.
                                            Vestibulum ante. Morbi at dui nisl.</p>

                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="slide">
                                        <h2>Education Courses.</h2>
                                        <h4>Study For Better Future</h4>
                                        <p>onec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac
                                            metus semper Nullam dui mi.
                                            Vestibulum ante. Morbi at dui nisl.</p>

                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="container"
                            style="background-color:white; margin-top: 10em; margin-bottom: 5em;padding: 1em 2em 1em 2em">

                            <form action="#" method="post">
                                <p>User Name </p>
                                <input type="text" class="name" name="user name" required [(ngModel)]="user"
                                    [ngModelOptions]="{standalone: true}" />
                                <p>Password</p>
                                <input type="password" class="password" name="Password" [(ngModel)]="pass"
                                    [ngModelOptions]="{standalone: true}" />

                                <input class="btn btn-primary" type="submit" value="Login" (click)='Check()'
                                    [routerLink]="['/danhmucmon']">
                            </form>


                            <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms &
                                    Privacy</a>.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-bottom: 100em;"></div>


</body>

</html>