<div class="container">
    <div class="banner" style="background-color: black;">
        <img src="{{img.banner}}" style="width: 100%;  height:20em ; object-fit: unset; ">
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="{{img.logo}}" style="width: 3em; height: 3em; border-radius:50% ;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link " routerLink="/assignment" routerLinkActive="active">Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="/aboutasm" routerLinkActive="active">Giới Thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contactasm" routerLinkActive="active"> Liên Hệ - Góp ý </a>
                </li>

                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="/hoidap" routerLinkActive="active"> Hỏi Đáp</a>
                </li> -->

            </ul>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Tài Khoản
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/login" routerLinkActive="active"> Đăng Nhập </a>
                    <a class="dropdown-item" routerLink="/signup" routerLinkActive="active">Đăng Kí</a>
                    <a class="dropdown-item" href="#"> Quên Mật Khẩu </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"> Đăng Xuất </a>
                    <a class="dropdown-item" href="#"> Đổi Mật Khẩu</a>
                    <a class="dropdown-item" href="#"> Cập Nhật Tài Khoản</a>
                </div>
            </div>

        </div>

    </nav>
    <div class=container style="margin-top: 1em; ">
        <h2 style="text-align: center;">Hi ! Everyone</h2>
        <div class="w3-row w3-container">

            <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16">
                <h3>Design</h3>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
            </div>

            <div class="w3-col l3 m6 w3-grey w3-container w3-padding-16">
                <h3>Branding</h3>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
            </div>

            <div class="w3-col l3 m6 w3-dark-grey w3-container w3-padding-16">
                <h3>Consultation</h3>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
            </div>

            <div class="w3-col l3 m6 w3-black w3-container w3-padding-16">
                <h3>Promises</h3>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
            </div>
        </div>

        <!-- Grid -->
        <div class="w3-row-padding" id="about">
            <div class="w3-center w3-padding-64">
                <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Who We Are</span>
            </div>

            <div class="w3-third w3-margin-bottom">
                <div class="w3-card-4">
                    <img src="https://st.phunuonline.com.vn/staticFile/Subject/2017/11/07/rapper-den-linh-cao-den02_7620700.jpg"
                        alt="John" style="width:100%">
                    <div class="w3-container">
                        <h3>Jane Doe</h3>
                        <p class="w3-opacity">CEO & Founder</p>
                        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque
                            elementum.</p>
                        <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
                    </div>
                </div>
            </div>

            <div class="w3-third w3-margin-bottom">
                <div class="w3-card-4">
                    <img src="https://st.phunuonline.com.vn/staticFile/Subject/2017/11/07/rapper-den-linh-cao-den02_7620700.jpg"
                        alt="Mike" style="width:100%">
                    <div class="w3-container">
                        <h3>Mike Ross</h3>
                        <p class="w3-opacity">Art Director</p>
                        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque
                            elementum.</p>
                        <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
                    </div>
                </div>
            </div>

            <div class="w3-third w3-margin-bottom">
                <div class="w3-card-4">
                    <img src="https://st.phunuonline.com.vn/staticFile/Subject/2017/11/07/rapper-den-linh-cao-den02_7620700.jpg"
                        alt="Jane" style="width:100%">
                    <div class="w3-container">
                        <h3>John Doe</h3>
                        <p class="w3-opacity">Designer</p>
                        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque
                            elementum.</p>
                        <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
                    </div>
                </div>
            </div>
        </div>


        <!-- Grid -->
        <div class="w3-row-padding" id="plans">
            <div class="w3-center w3-padding-64">
                <h3>Pricing Plans</h3>
                <p>Choose a pricing plan that fits your needs.</p>
            </div>

            <div class="w3-third w3-margin-bottom">
                <ul class="w3-ul w3-border w3-center w3-hover-shadow">
                    <li class="w3-black w3-xlarge w3-padding-32">Basic</li>
                    <li class="w3-padding-16"><b>10GB</b> Storage</li>
                    <li class="w3-padding-16"><b>10</b> Emails</li>
                    <li class="w3-padding-16"><b>10</b> Domains</li>
                    <li class="w3-padding-16"><b>Endless</b> Support</li>
                    <li class="w3-padding-16">
                        <h2 class="w3-wide">$ 10</h2>
                        <span class="w3-opacity">per month</span>
                    </li>
                    <li class="w3-light-grey w3-padding-24">
                        <button class="w3-button w3-green w3-padding-large" routerLink="/signup"
                            routerLinkActive="active">Sign Up</button>
                    </li>
                </ul>
            </div>

            <div class="w3-third w3-margin-bottom">
                <ul class="w3-ul w3-border w3-center w3-hover-shadow">
                    <li class="w3-dark-grey w3-xlarge w3-padding-32">Pro</li>
                    <li class="w3-padding-16"><b>25GB</b> Storage</li>
                    <li class="w3-padding-16"><b>25</b> Emails</li>
                    <li class="w3-padding-16"><b>25</b> Domains</li>
                    <li class="w3-padding-16"><b>Endless</b> Support</li>
                    <li class="w3-padding-16">
                        <h2 class="w3-wide">$ 25</h2>
                        <span class="w3-opacity">per month</span>
                    </li>
                    <li class="w3-light-grey w3-padding-24">
                        <button class="w3-button w3-green w3-padding-large" routerLink="/signup"
                            routerLinkActive="active">Sign Up</button>
                    </li>
                </ul>
            </div>

            <div class="w3-third w3-margin-bottom">
                <ul class="w3-ul w3-border w3-center w3-hover-shadow">
                    <li class="w3-black w3-xlarge w3-padding-32">Premium</li>
                    <li class="w3-padding-16"><b>50GB</b> Storage</li>
                    <li class="w3-padding-16"><b>50</b> Emails</li>
                    <li class="w3-padding-16"><b>50</b> Domains</li>
                    <li class="w3-padding-16"><b>Endless</b> Support</li>
                    <li class="w3-padding-16">
                        <h2 class="w3-wide">$ 50</h2>
                        <span class="w3-opacity">per month</span>
                    </li>
                    <li class="w3-light-grey w3-padding-24">
                        <button class="w3-button w3-green w3-padding-large" routerLink="/signup"
                            routerLinkActive="active">Sign Up</button>
                    </li>
                </ul>
            </div>
        </div>





        <!-- <header>
        <nav class="navbar navbar-expand-lg " style="padding-left: 10em;padding-right: 10em;">
            <a class="navbar-brand" href="index.html" style="padding-right: 4em;padding-left: 4em;"><img src="{{img.logo}}"
                    style="border-radius: 50%; height: 50px;width: 50px;"> Learn
                Course</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav menu ">
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Services</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="#team">Teachers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#subscribe">Subscribe</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tài Khoản
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" routerLink="/login" routerLinkActive="active"> Đăng Nhập </a>
                            <a class="dropdown-item" routerLink="/assignment" routerLinkActive="active">Đăng Kí</a>
                            <a class="dropdown-item" href="#"> Quên Mật Khẩu </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"> Đăng Xuất </a>
                            <a class="dropdown-item" href="#"> Đổi Mật Khẩu</a>
                            <a class="dropdown-item" href="#"> Cập Nhật Tài Khoản</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header> -->

        <!-- 
        <div class="banner" id="home" style="background-image: url('assets/images/banner.jpg');">
            <div class="layer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8">
                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner" style="margin-top:25em ; margin-bottom: 15em;">
                                    <div class="carousel-item active">
                                        <div class="slide">
                                            <h2>Education Courses.</h2>
                                            <h4>Study For Better Future</h4>
                                            <p>onec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac
                                                metus semper Nullam dui mi.
                                                Vestibulum ante. Morbi at dui nisl.</p>

                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="slide">
                                            <h2>Education Courses.</h2>
                                            <h4>Study For Better Future</h4>
                                            <p>onec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac
                                                metus semper Nullam dui mi.
                                                Vestibulum ante. Morbi at dui nisl.</p>

                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="slide">
                                            <h2>Education Courses.</h2>
                                            <h4>Study For Better Future</h4>
                                            <p>onec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac
                                                metus semper Nullam dui mi.
                                                Vestibulum ante. Morbi at dui nisl.</p>

                                        </div>
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                    data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                    data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <div class="container"
                                style="background-color:white; margin-top: 10em; margin-bottom: 5em;padding: 1em 2em 1em 2em">
                                <h4>Register and Join in our school</h4>

                                <input type="text" placeholder="Enter Email" name="email" required>
                                <input type="password" placeholder="Enter Password" name="psw" required>
                                <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

                                <button class="btn btn-primary"> Get Started</button>
                                <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms &
                                        Privacy</a>.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <section class="services " id="services" style="margin-top: 5em;">
            <div class="container">
                <h2>Our Services</h2>
                <div class="row " style="margin: 4em 0 0 0;">
                    <div class="col-sm-4 " style="margin-top: 2em; margin-bottom: 2em;">
                        <div class="serviceswrapper ">
                            <div class="servicesinner">
                                <div class="servicesimg">
                                    <img src="assets/images/s1.png" alt="">
                                </div>
                                <div class="servicestext">
                                    <h4>Quality Education</h4>
                                    <p>Proin varius pellentesque nunc tincidunt ante. Init id lacus</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 " style="margin-top: 2em; margin-bottom: 2em;">
                        <div class="serviceswrapper ">
                            <div class="servicesinner">
                                <div class="servicesimg">
                                    <img src="assets/images/s2.png" alt="">
                                </div>
                                <div class="servicestext">
                                    <h4>Experienced Staff</h4>
                                    <p>Proin varius pellentesque nunc tincidunt ante. Init id lacus</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 " style="margin-top: 2em; margin-bottom: 2em;">
                        <div class="serviceswrapper ">
                            <div class="servicesinner">
                                <div class="servicesimg">
                                    <img src="assets/images/s3.png" alt="">
                                </div>
                                <div class="servicestext">
                                    <h4>Ac Classrooms</h4>
                                    <p>Proin varius pellentesque nunc tincidunt ante. Init id lacus</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 ">
                        <div class="serviceswrapper ">
                            <div class="servicesinner">
                                <div class="servicesimg">
                                    <img src="assets/images/s4.png" alt="">
                                </div>
                                <div class="servicestext">
                                    <h4>Study Certificate</h4>
                                    <p>Proin varius pellentesque nunc tincidunt ante. Init id lacus</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 ">
                        <div class="serviceswrapper ">
                            <div class="servicesinner">
                                <div class="servicesimg">
                                    <img src="assets/images/s5.png" alt="">
                                </div>
                                <div class="servicestext">
                                    <h4>Study Materials </h4>
                                    <p>Proin varius pellentesque nunc tincidunt ante. Init id lacus</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 ">
                        <div class="serviceswrapper ">
                            <div class="servicesinner">
                                <div class="servicesimg">
                                    <img src="assets/images/s6.png" alt="">
                                </div>
                                <div class="servicestext">
                                    <h4>Library Books</h4>
                                    <p>Proin varius pellentesque nunc tincidunt ante. Init id lacus</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- positioned image -->
        <!-- <div class="positionimage">
        <img src="assets/images/services.png" alt="" class="img-fluid">
    </div>
    <!-- //positioned image -->
        <!-- </div>
    </section>  -->

        <!-- <section class="team" id="team">
        <div class="container" style="margin-top: 7em; margin-bottom: 2em;">
            <h2 style="margin-bottom: 2em;">Our Teachers</h2>
            <div class="row">
                <div class="col-sm-3 teamm">
                    <img src="{{img.team4}}" />
                    <div>
                        <h3>Tyson Amery</h3>
                        <span>Maths Teacher</span>
                    </div>
                </div>
                <div class="col-sm-3 teamm">
                    <img src="{{img.team1}}" />
                    <div>
                        <h3>Stas Melnik</h3>
                        <span>English Teacher</span>
                    </div>
                </div>
                <div class="col-sm-3 teamm">
                    <img src="{{img.team2}}" />
                    <div>
                        <h3>Lise Laurie</h3>
                        <span>Physics Teacher</span>
                    </div>
                </div>
                <div class="col-sm-3 teamm">
                    <img src="{{img.team3}}" />
                    <div>
                        <h3>Effie Eleanora</h3>
                        <span>History Teacher</span>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
        <!-- <section class="subscribe" id="subscribe">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-5" style="background: royalblue;">

                    <div class="row">
                        <div class="image " style="margin: 3em 2em 3em 5em;">
                            <img style="width: 100px ; height: 100px;" src="{{img.mail}}" alt="" class="img-fluid">
                        </div>
                        <div class="text " style="color: white; margin: 4em 0 4em 0;">
                            <h3>Subscribe To Our Newsletter</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7" style="background:crimson;">
                
                    <div class="input-group mb-3">

                        <input style="width: 30em;height: 50px;margin:3em 0 0 5em;" type="email" class="ipsearch"
                            placeholder="Enter your email here" aria-label="Recipient's username"
                            aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button type="button" style="background: black;margin-top: 3em;"><span class="fa fa-paper-plane"
                                    aria-hidden="true"></span></button>
                        </div>
                    </div>
                    <p style="margin: 0 5em 3em 5em ;">we never share your email with anyone else</p>
                </div>
            </div>
        </div>
    </section> -->
        <!-- <footer>

            <div style="background-image: url('assets/images/footer.jpg'); text-align: center;">
                <div class="ftlayer">
                    <div class="container">
                        <div style="width: 70%;margin: auto;">
                            <div class="footertitle" style="text-align: center; padding-top: 2em; ">
                                <a href="#"><img src="{{img.logo}}"
                                        style="border-radius:50%; width: 50px; height: 50px;" alt=""> Learn Course</a>
                            </div>
                            <div class="footertext" style="margin-top: 1em;">
                                <p>Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Nulla quis
                                    lorem
                                    ipnut libero malesuada feugiat.
                                    Lorem ipsum dolor sit amet, consectetur elit.</p>
                            </div>
                            <ul style="display :inline-block;">
                                <li class="icon "><a href="#"><span class="fa fa-facebook"></span></a></li>
                                <li class="icon "><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li class="icon "><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                <li class="icon "><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                <li class="icon "><a href="#"><span class="fa fa-pinterest"></span></a></li>
                                <li class="icon "><a href=" #"><span class="fa fa-vimeo"></span></a></li>
                            </ul>
                            <h2 style="color:snow;">Create by Suot00</h2>
                        </div>
                    </div>
                </div>
            </div>
        </footer> -->
        <footer class="w3-container w3-padding-32 w3-light-grey w3-center">


            <div class="w3-xlarge w3-section">
                <i class="fa fa-facebook-official w3-hover-opacity"></i>
                <i class="fa fa-instagram w3-hover-opacity"></i>
                <i class="fa fa-snapchat w3-hover-opacity"></i>
                <i class="fa fa-pinterest-p w3-hover-opacity"></i>
                <i class="fa fa-twitter w3-hover-opacity"></i>
                <i class="fa fa-linkedin w3-hover-opacity"></i>
            </div>
            <span>Create By : <b>Suot00</b></span>
        </footer>