<div class="container">
    <div class="container">
        <div class="row">

            <div class="col-md-12 pt-3">
                <div class="card" *ngFor="let item2 of lists">
                    <div class="card-header">
                        <p>Thời Gian Làm Bài</p>
                        <span id='h'></span> :
                        <span id='m'></span> :
                        <span id='s'></span>

                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote ">
                            <p class="float-left">
                                {{item2&&item2.Text}}
                            </p>
                            <!-- <p id="timer">
                                <script type="text/javascript">countDown();</script>
                            </p> -->
                        </blockquote>

                    </div>
                    <hr style="width: 80%; margin: 0 auto">
                    <div class="card-body ">
                        <blockquote class="blockquote  ps">

                            <label class="container" *ngFor="let item3 of item2.Answers">
                                <input type="radio" name="radio">
                                <span class="checkmark"> {{item3.Text}}</span>
                            </label>



                        </blockquote>
                    </div>
                    <div class="card-header ps">
                        <p>MARKS: 0/80</p>
                        <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                    </div>
                    <button type="button" class="btn {{isEdit? 'btn-danger' : 'btn-primary disable'}}"
                        (click)='isEdit? start() : stop() '>{{isEdit? 'Bắt Đầu' : 'Kết Thúc'}}</button>


                </div>

            </div>

        </div>

    </div>